Django==2.2
boto3==1.9.135	
botocore==1.12.135	
djangorestframework==3.9.2	
docutils==0.14	
gunicorn==19.9.0
jmespath==0.9.4	
pip==19.0.3	
python-dateutil==2.8.0	
pytz==2019.1	
s3transfer==0.2.0	
setuptools==41.0.0	
six==1.12.0	
sqlparse==0.3.0	
urllib3==1.24.2	
virtualenv==16.4.3	
wheel==0.33.1
whitenoise==4.1.2+
